/* Generic Page Styles */
.page-header {
    background: var(--light-gray);
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.page-header p {
    max-width: 600px;
    margin: 0 auto;
    color: var(--dark-gray);
}
.page-title {
    font-size: 3rem;
    font-weight: 900;
}
.section {
    padding: 4rem 1rem;
    text-align: center;
}
.section-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
}
.section-subtitle {
    max-width: 600px;
    margin: 0 auto 2rem auto;
    color: var(--dark-gray);
}
.section-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background: var(--primary-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    text-align: left;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
    text-align: left;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
}
#filters select, #filters input {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--card-bg);
    color: var(--text-color);
    font-family: inherit;
}
#workout-grid {
    padding: 0 1rem;
}

